.us-chart-container {
    width: 100vw;
    max-width: 580px;
    position: relative;
    margin: 0 auto;
    left: 10px;
    .charts {
        position: relative;
        width: 90%;
        top: -20px;
    }

    @media (max-width: 380px) and (max-width: 820px) {
        .charts {
            top: 20px;
        }
    }
    @media (max-width: 330px) and (max-height: 580px) {
        .charts {
            top: -75px;
        }
    }
}

