.bg {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #2d3436;
  overflow: hidden;
}

.bg .container {
  position: relative;
  max-width: 600px;
  width: 95%;
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80px 180px 65px 1fr;
      grid-template-rows: 80px 180px 65px 1fr;
  background-color: #dfe6e9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.bg .container .backgroundImage {
  position: absolute;
  top: -100px;
  height: 200px;
  width: 600px;
  background-image: url("../img/ICON575.svg");
  background-repeat: no-repeat;
  z-index: 0;
}

.bg .container .us-chart-container {
  width: 95vw;
  position: absolute;
  top: 180px;
}

.bg .container .other-countries-container {
  position: absolute;
  top: 400px;
  width: 100%;
}

.bg .container .contents-container {
  position: absolute;
  top: 400px;
  width: 100%;
}

.bg .loading-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  pointer-events: none;
}

.bg .loading-container div {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 4px 7px 8px 1px rgba(0, 0, 0, 0.18);
          box-shadow: 4px 7px 8px 1px rgba(0, 0, 0, 0.18);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg .loading-container div .text {
  color: #fff;
  display: inline-block;
  margin-left: 5px;
}

.bg .loading-container div .bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bg .loading-container div .bounceball:before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-animation: bounce 500ms alternate infinite ease;
          animation: bounce 500ms alternate infinite ease;
}

@-webkit-keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    -webkit-transform: scaleX(2);
            transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    -webkit-transform: scaleX(2);
            transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

@media (max-width: 380px) and (max-height: 820px) {
  .bg .container {
    -ms-grid-rows: 120px 180px 65px 1fr;
        grid-template-rows: 120px 180px 65px 1fr;
  }
}

@media (max-width: 380px) and (max-height: 670px) {
  .bg .container {
    -ms-grid-rows: 80px 180px 65px 1fr;
        grid-template-rows: 80px 180px 65px 1fr;
  }
}

@media (max-width: 415px) and (min-height: 820px) {
  .bg .container {
    -ms-grid-rows: 100px 180px 65px 1fr;
        grid-template-rows: 100px 180px 65px 1fr;
  }
}

@media (max-width: 330px) and (max-height: 580px) {
  .bg .container {
    -ms-grid-rows: 72px 155px 65px 1fr;
        grid-template-rows: 72px 155px 65px 1fr;
  }
}
/*# sourceMappingURL=Main.css.map */